# Created by .ignore support plugin (hsz.mobi)
.idea/
Actividades realizadas/
Antivirus USB.Bat
"Carpeta sin t\303\255tulo 2/"
"Carpeta sin t\303\255tulo/"
Cuarentena/
Cuentos/
iniciarsesion.html
LibreOffice_4.4.3_Win_x86.msi
PAGINA HTML.docx
hpedit/
"presentaci\303\263n2.jpg"
programainteractivo2.html
videos de lenguaje/
videos de matematica/
~$GINA HTML.docx
!/iniciarsesion.html
