body {
    background: url(presentacion2.jpg), no-repeat, fixed, top;
    background-size: cover;
}

#contenedor {
    margin: 0 auto;
    width: 80%;
}

#contenedor h1 {
    color: #FFFFFF;
    text-shadow: #000000 1px 2px 2px;
    text-align: center;
    display: block;
}

ul.menu {
    background: #0000FF;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    display: block;
    width: 80%;
    margin: 0 auto;
}

li {
    background: #0000FF;
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li:hover, .dropdown:hover {
    background: #0DD672;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

main {
    /*background: #FFFFFF;*/
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    margin: 0 auto;
    width: 60%;
}

a.salir-boton {
    align-self: flex-start;
    background: #03b326;
    color: #FFFFFF;
    display: block;
    font-size: 20px;
    padding: 5px 20px;
    text-align: right;
    text-decoration: none;
    width: 100%;
}

a.salir-boton:hover {
    background: #0661d0;
}

main a:last-child {
    margin-bottom: 5px;
    align-self: flex-end;
    justify-items: right;
    color: #3f3f3f;
    text-decoration: none;
    font-weight: bold;
    font-size: 30px;
    width: 100%;
}

main a:last-child span, main a:last-child{
    margin: 0 0 20px 20px;
}
table.tabla-auditoria {
    border-spacing: 5px;
    width: 100%;
}
table.tabla-auditoria, .tabla-auditoria th, .tabla-auditoria td {
    border: 1px solid black;
    border-collapse: collapse;
}
.tabla-auditoria th, .tabla-auditoria td {
    padding: 5px;
    text-align: center;
}